@charset "UTF-8";

.min-width-100 {
    min-width: 100%;
}

.width-200{
    width:200px;
}

/* Font size */

.font-50-title {
    font-size: 50px;
}

.font-36-title {
    font-size: 36px;
}

.font-30-title {
    font-size: 30px;
}

.font-xxl-title {
    font-size: 24px;
}

.font-xl-title {
    font-size: 22px;
}

.font-l-title {
    font-size: 20px;
}

.font-default-title {
    font-size: 18px;
}

.font-xl-txt {
    font-size: 20px;
}

.font-l-txt {
    font-size: 18px;
}

.font-default-txt {
    font-size: 16px;
}

.font-s-txt {
    font-size: 14px;
}

.font-xs-txt {
    font-size: 12px;
}

.font-bold,
.bold {
    font-weight: bold;
}

.font-normal {
    font-style: normal;
}

.text-right,
.right {
    text-align: right;
}

.text-center,
.center {
    text-align: center;
}

.text-left,
.left {
    text-align: left;
}

/* margin
*/
.margin-basic {
    margin: 0;
}
.margin-t-0 {
    margin-top: 0;
}
.margin-spacing-1 {
    margin: 10px;
}
.mar-t-10,
.margin-t-10 {
    margin-top: 10px;
}
.mar-t-15,
.margin-t-15 {
    margin-top: 15px;
}
.mar-t-20,
.margin-t-20 {
    margin-top: 20px;
}
.mar-t-50 {
    margin-top: 50px;
}
.mar-t-80 {
    margin-top: 80px;
}
.mar-t-100 {
    margin-top: 100px;
}
.mar-b-0{
    margin-bottom: 0px;
}
.mar-b-5,
.margin-b-5 {
    margin-bottom: 5px;
}
.mar-b-10,
.margin-b-10 {
    margin-bottom: 10px;
}
.mar-b-15,
.margin-b-15 {
    margin-bottom: 15px;
}
.mar-b-20,
.margin-b-20 {
    margin-bottom: 20px;
}
.mar-b-30 {
    margin-bottom: 30px;
}
.mar-b-50 {
    margin-bottom: 50px;
}
.mar-l-8 {
    margin-left: 10px;
}
.mar-l-20 {
    margin-left: 20px;
}
.mar-r-10 {
    margin-right: 10px;
}
.mar-r-20 {
    margin-right: 20px;
}


/* text ellipsis */

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}



/* Link text decoration */

.underline {
    text-decoration: underline;
}

.underline-none,
.no-underline {
    text-decoration: none;
}


/* font wrap setting */

.font-wrap {
    word-wrap: break-word;
    word-break: break-all;
}


/* white-space */

.white-nowrap {
    white-space: nowrap;
}
.white-normal{
    white-space: normal;
}


/* Font color */


.color-gray {
    color: #808080;
}


.color-black {
    color: #000000 !important;
}

.color-white {
    color: #ffffff !important;
}

.color-orange{
    color: #FF8500;
}
