.control-bar .box{
	padding: 6px 48px;
}
.control-bar .box .input{
	padding: 2px 10px;
	height: 36px;
	margin: 0;
	width: 100%;
}
.control-bar .box a {
	position: absolute;
	bottom: 0;
}
.control-bar .box a.btn-add {
	left: 0;
}
.control-bar .box a.btn-mic {
	right: 0;
}
.select-tag{
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99e8f7ec,endColorstr=#99e8f7ec);
    zoom: 1;
}