html,
body {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.wrap {
    min-height: 100%;
    position: relative;
    background: url(../images/bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

/* header */

.header {
    height: 50px;
    background: url(../images/bg_header@2x.png);
    background-size: cover;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
    /*position: fixed;*/
    position: relative;
    top: 0;
    z-index: 999;
}

.header .txt {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}

.logo {
    width: 27px;
    height: 24px;
    background: url(../images/logo.png);
    display: inline-block;
    vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .logo {
        background: url(../images/logo@2x.png);
        background-size: 27px 24px;
        display: inline-block;
        vertical-align: middle;
    }
}



/* header end */


/* content */

.content {
    box-sizing: border-box;
    padding: 20px 10px 20px 10px;
    overflow-y: auto;
    height: calc(100vh - 160px);
    position: relative;
}

.robot {
    width: 100%;
    margin-bottom: 14px;
    position: relative;
}

.robot .avatar {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #71BF44;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.robot .dialog-box {
    padding-left: 42px;
    margin-right: 10px;
    color: #3D3D3D;
    font-size: 16px;
}

.robot .dialog-box .message {
    display: inline-block;
    padding: 7px 14px;
    background-color: #fff;
    border: 1px solid #ABCABB;
    border-radius: 0 18px 18px 18px;
    margin-bottom: 7px;
}
.robot .dialog-box .message.dotpadding{
    padding: 14px 10px 8px 10px;
}

.robot .dialog-box .select-card {
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 7px;
}

.robot .dialog-box .segment {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    background-color: #FFFFFA;
    border: 1px solid #ABCABB;
    border-radius: 0 18px 18px 18px;
    margin-right: 6px;
    min-width: 200px;
}

.robot .dialog-box .segment .txt {
    padding: 10px 10px 20px 10px;
}

.robot .dialog-box .segment .txt .title {
    font-size: 16px;
    font-weight: bold;
    color: #3D3D3D;
}

.robot .dialog-box .segment .txt .desc {
    font-size: 14px;
    color: #3D3D3D;
}

.robot .dialog-box .segment .bill-number {
    padding: 10px;
    white-space: normal;
}

.robot .dialog-box .segment .bill-number {
    font-weight: bold;
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 5px;
}

.robot .dialog-box .segment .bill-number {
    color: #FF8500;
    text-align: right;
}
.robot .dialog-box .num{
    color: #3d3d3d;
    text-align: right;
}
.robot .dialog-box .title{
    font-weight: bold;
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 5px;
    text-align:left;
}
.robot .dialog-box .segment .bill-number .desc{
    font-size: 16px;
    color: #676767;
    text-align:left;
    font-weight: lighter;
}

.robot .dialog-box .segment .btn-bottom a {
    text-align: center;
    color: #FF7F00;
    display: block;
    padding: 11px;
    border-top: 1px solid #d3e6d9;
    text-decoration: none;
}

.robot .dialog-box .segment-map{
    min-width: 100%;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ABCABB;
    border-radius: 0 18px 18px 18px;
    margin-right: 6px;
    margin-bottom: 7px;
    overflow: hidden;
}
.robot .dialog-box .segment-map .map{
    width: 100%;
    height: 180px;
    background: #eee;
    position: relative;
    border-radius: 0 18px 0 0 ;
}
.robot .dialog-box .segment-map .desc{
    padding: 20px 14px;
    background: #FFFFFA;
}
.robot .dialog-box .weather-box{
    display: table;
    margin: -7px -14px;
    border-radius: 0 18px 18px 18px;
    overflow: hidden;
}
.robot .dialog-box .weather-box .tip{
    display: table-cell;
    vertical-align: middle;
    padding: 7px 14px;
    width: calc(100% - 113px);
}
.robot .dialog-box .weather-box .weather{
    display: table-cell;
    vertical-align: middle;
    background-color: #FFF5EB;
    color: #FF8500;
    width: 113px;
    padding: 7px 14px;
    white-space: nowrap;
}
.robot .dialog-box .weather-box .weather span{
    vertical-align: middle;
}
.icon-border{
    border: 1px dashed #ccc;
    border-radius: 4px;
    display: inline-block;
    width: 42px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
}

.icon-weather-rain{
    background: url(../images/icon_weather_rain@2x.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 37px;
    background-size: 33px 37px;
    display: inline-block;
    vertical-align: middle;
}

.img-creditcard01 {
    width: 200px;
    height: 120px;
    background: url(../images/tree.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 120px;
}
.img-creditcard02 {
    width: 200px;
    height: 120px;
    background: url(../images/tree_father.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 120px;
}
.img-creditcard03 {
    width: 200px;
    height: 120px;
    background: url(../images/tree_sister.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 120px;
}
.img-creditcard04 {
    width: 200px;
    height: 120px;
    background: url(../images/img_creditcard04@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 120px;
}
.img-creditcard05 {
    width: 200px;
    height: 120px;
    background: url(../images/img_creditcard05@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px 120px;
}
.img-creditcard06 {
    width: 307px;
    height: 100px;
    background: url(../images/img_creditcard06@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 307px 100px;
}
.img-creditcard07 {
    width: 310px;
    height: 181px;
    background: url(../images/img_creditcard07@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 320px 181px;
}
.img-creditcard08 {
    width: 220px;
    height: 120px;
    background: url(../images/img_creditcard08@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 220px 120px;
}

.robot .dialog-box .time {
    font-size: 10px;
    color: #2A8157;
    margin: -5px 0 0 15px;
}

.user {
    width: 100%;
    margin-bottom: 14px;
}

.user .dialog-box {
    text-align: right;
    color: #fff;
    font-size: 16px;
}

.user .dialog-box .message {
    display: inline-block;
    position: relative;
    padding: 7px 14px;
    border-radius: 18px 0 18px 18px;
    margin-bottom: 7px;
    background: #06954F;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #20B231, #06954F);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #20B231, #06954F);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #20B231, #06954F);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #20B231, #06954F);
    /* Standard syntax */
}

.user .dialog-box .time {
    position: absolute;
    right: 10px;
    bottom: -20px;
    font-size: 10px;
    color: #2A8157;
    white-space: nowrap;
}

.hr-dashed{
    border-top: 1px dashed #ABCABB;
}

/* content end */


/* control-bar */

.control-bar {
    position: absolute;
    -webkit-backface-visibility: hidden;
    width: 100%;
    bottom: 0;
}
.select-tag{
    padding: 0px 20px;
    overflow-x: auto;
    white-space: nowrap;
    background-color: rgba(232,247,236,60);
}
.select-tag .tag,.tag{
    z-index: 100;
    position: relative;
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #FF8500;
    background: #fff;
    padding: 7px 14px;
    border-radius: 20px;
    color: #FF8500;
    font-size: 16px;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,153,78,0.3);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,153,78,0.3);
    box-shadow: 0px 0px 4px 0px rgba(0,153,78,0.3);
}
.select-tag .tag:hover,.tag:hover{
    text-decoration: none;
}
.select-tag .tag.animate
{
    -webkit-animation: jumpchoice 1s linear;
    -moz-animation: jumpchoice 1s linear;
    animation: jumpchoice 0.5s linear;
    display: inline-block;
}

@keyframes jumpchoice {
    0% {
        transform: translateY(100px);
    }

    30% {
        transform: initial;
    }
    60% {
        transform: translateY(-10px);
    }
    100%{
        transform: initial;

    }
}

.control-bar .box {
    background-color: #F0F0F0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
}

.control-bar .box a {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    text-indent: 100%;
    white-space: nowrap;
    display: inline-block;
    width: 48px;
    height: 48px;
}

.control-bar .box .input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    width: 100%;
    width:calc(100% - 96px);
    height: 32px;
    padding: 8px 10px;
    margin: 8px 0;
    color: #888;
    font-size: 16px;
    line-height: 32px;
    border: none;
}
.control-bar .box input.input::-webkit-input-placeholder{
	color: #B3B3B3;
}
.control-bar .box input.input::-moz-placeholder{
	color: #B3B3B3;
}
.control-bar .box input.input:-ms-input-placeholder{
	color: #B3B3B3;
}
.control-bar .box input.input:-moz-placeholder {
  color: #B3B3B3;
}

.btn-add {
    background: url(../images/icon_add.png);
    background-repeat: no-repeat;
    background-position: center center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .btn-add {
        background: url(../images/icon_add@2x.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 34px 34px;
    }
}
.btn-mic {
    background: url(../images/icon_mic.png);
    background-repeat: no-repeat;
    background-position: center center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .btn-mic {
        background: url(../images/icon_mic@2x.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 34px 34px;
    }
}



/* control-bar end */


.robot .avatar01{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar01@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar02{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar02@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar03{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar03@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar04{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar04@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar05{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar05@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar06{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar06@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar07{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar07@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar08{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar08@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .avatar09{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/avatar09@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 38px 38px;
}
.robot .tree{
    width: 144px;
    height: 175.2px;

    background: url(../images/tree_icon@2x.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 144px 175.2px;
}
.robot .tree01{
    width: 166px;
    height: 156px;
    margin: 15px;
    background: url(../images/tree_icon01@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 166px 156px;
}
.robot .tree02{
    width: 180px;
    height: 170px;
    margin: 15px;
    background: url(../images/tree_icon02@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 166px 156px;
}
.robot .dialog-box .message .more{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #33AC71;
    display: inline-block;
}
.robot .dialog-box .message .more1{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #48C159;
    display: inline-block;
}
.robot .dialog-box .message .more2{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #78C93D;
    display: inline-block;
}

/* control-bar end */

/* alert */

.payment .paymentcode{
    width: 359px;
    height: 627px;
    background: url(../images/payment@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 359px 627px;
    position: relative;
}
.payment .paymentcode .paymenticon{
    width: 50px;
    height: 56px;
    background: url(../images/paymenticon@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 56px;
    position: absolute;
    right: -13px;
    top: -25px;
}

.img-creditcard09 {
    width: 220px;
    height: 120px;
    background: url(../images/img_creditcard09@2x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 220px 120px;
}

