svg {
  height: 25px;
  width: 50px;
}

.icon--chatbubble {
  .bubble1 {
    animation: chatBubbles 1s ease-in-out infinite;
  }

  .bubble2 {
    animation: chatBubbles 1s ease-in-out infinite;
    animation-delay: .3s;
  }

  .bubble3 {
    animation: chatBubbles 1s ease-in-out infinite;
    animation-delay: .5s;
  }
}

@keyframes chatBubbles {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0);
  }
}